.app {
    display: inline-block;
    margin-bottom: 4px;
    user-select: none;
    -webkit-user-select: none;
    &__icon {
        text-align: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: #222222;
        font-weight: bold;
    }
    &__name {
        text-align: center;
        color: white;
        font-size: 12px;
        line-height: 24px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 60px;
    }
}