@import './page.scss';
@import './app.scss';
@import './transition.scss';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visible: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

img {
    -webkit-touch-callout: none;
}

* {
    box-sizing: border-box;
}