@import './page.scss';
@import './app.scss';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visible: hidden;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}